<!--<div class="navbar-default sidebar" role="navigation" style="margin-top: 100 px !important;">-->
    <!--<div class="sidebar-nav navbar-collapse">-->
        <!--<ul class="nav" id="side-menu">-->
            <!--<li>-->
                <!--<a href="#" name="listofdevices" class="sidebar-item"><i class="fa fa-wrench fa-fw"></i> Devices</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<!-- All js functionality for this page -->
<script src="../static/js/page_specific/sidebar.js"></script>
